/* #region common--------- */

:root {
    --black: #111111;
    --white_dark: #ffffff;
    --orange: #fd9222;
    --violet: #1e1823;
    --grey: #4c4c4c;
    --old_lace: #fcf1e0;
    --white: #fafafa;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ol,
ul,
dl, 
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

picture {
    padding: 0;
    margin: 0;
}

svg {
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

image {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 16.875rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.title {
font-weight: 600;
font-size: 1.25rem;
line-height: 1.2;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #111;
}

.title-accent {
    color: var(--orange);
}

@media screen and (max-width: 47.99rem) {
    .header-nav {
        display: none;
    }

    .header-social-list {
        display: none;
    }
}

@media screen and (min-width: 48rem) and (max-widht: 72.99rem) {
    
}

@media screen and (min-width: 73rem) {
}

/* #endregion common--------- */

/* #region header--------- */

.header {
    padding: 1.25rem 0 0.75rem;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-style: italic;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: var(--black);
    flex-grow: 1;
}

.header-logo-accent {
    font-style: normal;
}

.header-logo-img {
    width: 1.3125rem;
    height: 1.3125rem;
    vertical-align: -0.4rem;
}

.header-logo-icon {
}

.header-menu-btn {
    display: block;
    background-color: transparent;
}

.header-menu-open-btn {
    width: 1.75rem;
    height: 1.75rem;
    fill: transparent;
    stroke: var(--black);
}

.header-menu-open-icon {
}

.header-nav {
    margin-right: 3rem;
}

.header-nav-list {
}

.header-nav-item {
}

.header-nav-link {
}

.header-social-list {
}

.header-social-item {
}

.header-social-link {
}

.header-social-icon {
}

.header-social-img {
    width: 1.25rem;
    height: 1.25rem;
    fill: transparent;
    stroke: var(--black);
    transition: stroke 300ms ease-in;
}

.header-social-img:hover,
.header-social-img:focus {
    stroke: var(--orange);
}

.header-social-icon {
}

@media screen and (min-width: 48rem) {
    .header {
        padding: 0;
        padding: 1.53rem 0 2.22rem;
    }

    .header-container {
        align-items: center;
    }

    .header-nav {
        display: block;
    }

    .header-nav-list {
        display: flex;
        gap: 1.5rem;
    }

    .header-social-list {
        display: flex;
        gap: 0.75rem;
        margin-left: auto;
    }

    .header-menu-btn {
        display: none;
    }

    .header-nav-link {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: var(--black);
        transition: color 300ms ease-in;
    }

    .header-nav-link:hover,
    .header-nav-link:focus {
        color: var(--orange);
    }
}

@media screen and (min-width: 73rem) {
    .header {
        padding: 0;
        padding: 1.5rem 0 2.25rem;
    }

    .header-social-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .header-logo-img {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: -0.3rem;
    }
}

/* #endregion header--------- */

/* #region hero--------- */

.hero {
    margin-bottom: 5rem;
}

.hero-container {
    padding: 24.75rem 1.25rem 1.25rem;
    background-image: linear-gradient(
            180deg,
            rgba(17, 17, 17, 0.4) 0%,
            rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/1.hero/chocolate_main-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    border-radius: 1.875rem;
}

@media screen and (max-width: 47.9987rem) and (min-resolution: 192dpi) {
    .hero-container {
        background-image: url(../images/1.hero/chocolate_main-mobile-2x.jpg);
    }
}

.hero-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 18.44rem;
    margin-bottom: 2rem;
}

.hero-btn {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 0.75rem 1.75rem;
    border-radius: 6.25rem;
    min-width: 7.5rem;
    background-color: var(--orange);
    margin-right: 0.875rem;
    border: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--old_lace);
    color: var(--orange);
}

.hero-btn-2 {
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 0.75rem 1.75rem;
    border: 1px solid #fff;
    border-radius: 6.25rem;
    min-width: 9.9375rem;
    transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.hero-btn-2:hover,
.hero-btn-2:focus {
    color: var(--orange);
    border-color: var(--orange);
}

.hero-mobile-btns {
    display: flex;
    margin-bottom: 2rem;
}

.hero-scroll-btn {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #fff;
    transition: color 300ms ease-in-out;0
    ;
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
    color: var(--orange);
}

.hero-scroll-icon {
    width: 1.75rem;
    height: 1.75rem;
    --color1: var(--white);
    --color2: var(--orange);
    /* fill: var(--white); */
    /* stroke: var(--orange); */
    border: transparent;
    margin-left: 0.875rem;
    transition: fill 300ms ease-in-out, stroke 300ms ease-in-out;
}

.hero-scroll-btn:hover > .hero-scroll-icon,
.hero-scroll-btn:focus > .hero-scroll-icon {
    --color1: var(--orange);
    --color2: var(--white); 
    /* fill: var(--orange); */
    /* stroke: var(--white); */
}

@media screen and (min-width: 48rem) {
    .hero {
        margin-bottom: 2.5rem;
    }

    .hero-container {
        padding: 0;
        padding: 42rem 2.5rem 2.5rem;
        background-image: linear-gradient(
                180deg,
                rgba(17, 17, 17, 0.4) 0%,
                rgba(17, 17, 17, 0.4) 100%
            ),
            url(../images/1.hero/chocolate_main-tablet-1x.jpg);
        background-size: cover;
    }

    @media screen and (min-width: 48rem) and (min-resolution: 192dpi) {
        .hero-container {
            background-image: url(../images/1.hero/chocolate_main-tablet-2x.jpg);
        }
    }

    .hero-title {
        font-size: 1.75rem;
        max-width: 29rem;
    }

    .hero-btn {
        padding: 0.875rem 2.5rem;
    }

    .hero-btn-2 {
        padding: 0.875rem 2.5rem;
    }

    .hero-scroll-btn {
        font-size: 0.875rem;
    }

    .hero-scroll-icon {
        width: 2.375rem;
        height: 2.375rem;
    }

    .hero-buttons {
        display: flex;
        align-items: baseline;
    }

    .hero-scroll-btn {
        margin-left: auto;
    }
}

@media screen and (min-width: 73rem) {

    .hero {
        margin-bottom: 5rem;
    }

    .hero-container {
        padding: 0;
        padding: 23.75rem 2.5rem 2.5rem;
        background-image: linear-gradient(
                180deg,
                rgba(17, 17, 17, 0.4) 0%,
                rgba(17, 17, 17, 0.4) 100%
            ),
            url(../images/1.hero/chocolate_main-1x.jpg);
    }

    @media screen and (min-width: 73rem) and (min-resolution: 192dpi) {
        .hero-container {
            background-image: linear-gradient(
                    180deg,
                    rgba(17, 17, 17, 0.4) 0%,
                    rgba(17, 17, 17, 0.4) 100%
                ),
                url(../images/1.hero/chocolate_main-2x.jpg);
        }
    }
}

/* #endregion hero--------- */

/* #region benefits--------- */

.benefits {
    background-color: var(--violet);
    margin-bottom: 5rem;
}

.benefits-container {
    padding: 1.25rem;
}

.visually-hidden{
 position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.benefits-item {
    padding-right: 1.6875rem;
}

.benefits-image {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 3.875rem;
    height: 3.875rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1.375rem;
    
}

.benefits-icon {
    width: 2rem;
    height: 2rem;
    
}

.benefits-subtitle {
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    margin-bottom: 1.125rem;
}

.benefits-text {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    
}


@media screen and (min-width: 48rem) {

    .benefits {
        margin-bottom: 6.25rem;
    }
    
.benefits-container {
    padding: 3.125rem 2rem;
}

.benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.75rem 5.5rem;
    
}

.benefits-item {
    padding-right: 0;
    max-width: 31.75rem;
    flex-basis: calc((100% - 5.5rem) / 2);
    
}
}

@media screen and (min-width: 73rem) {
    .benefits {
        margin-bottom: 7.5rem;
    }

    .benefits-container {
    padding: 3.125rem;
}

.benefits-list {
    flex-wrap: nowrap;
    gap: 5.5rem;
    
}

.benefits-item {
    min-width: 19.25rem;
    flex-basis: calc((100% - 5.5rem*2) / 3);
    position: relative;
}

.benefits-item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 0rem;
    height: 7.75rem;
    top: 25% ;
    right: -2.75rem;
   
    
}
}

/* #endregion benefits--------- */

/* #region taste--------- */

.taste {
    margin-bottom: 5rem;
}

.taste-container {
   width: 100%;
}

.taste-title {
    max-width: 21rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.taste-text {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: -0.03em;
    line-height: 1.29;
    color: var(--black);
    margin: 0 auto;
    max-width: 21rem;
    margin-bottom: 2rem;

}

.taste-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* gap: 1.25rem; */

    /* a specially removed gap,
    to try pseudoclass */
    
}

.taste-item {
border-radius: 0.9375rem;
min-width: 21rem;
height: 100%;
padding: 2rem 3.125rem 1.75rem 1.75rem;
position: relative;
overflow: hidden;
}

.taste-item:not(:last-child) {
    margin-bottom: 1.25rem;
}

.taste-item:nth-child(4n + 1) {
    background-color: var(--orange);
}

.taste-item:nth-child(4n + 3) {
    background-color: var(--violet);
}

.taste-item:nth-child(2n + 2) {
    background-color: var(--white_dark);
    border: 1px solid #fd9222;
    
}

.taste-btn {
    top: 0.875rem;
    right: 0.875rem;
    width: 1.5rem;
    height: 1.5rem;  
    position: absolute;
    outline: none;
    background-color: transparent;
}

.taste-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: transparent;
    
}

.taste-icon:nth-child(odd) {
    stroke: var(--white);
}

.taste-item:nth-child(2n + 2) .taste-icon {
    stroke: var(--orange);
}

.taste-image {
    display: block;
    width: 14.75rem;
    height: 11rem;
    margin-bottom: 1rem;
    padding-left: 1.375rem;       
}

.taste-subtitle {
font-weight: 600;
font-size: 0.875rem;
line-height: 1.29;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--white_dark);

}

.taste-item:nth-child(2n + 2) .taste-subtitle {
    color: var(--black)
}

.taste-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.75rem;
    border-radius: 0.9375rem;
    border: 0.003rem solid var(--orange);
    min-width: 21rem;
    height: 100%;
    background: #fff;
    transform: translatey(100%);
    transition: transform 300ms ease-in-out;
    /* backface-visibility: hidden; */

}

.taste-btn:hover, .taste-overlay {
    /* transform: translatey(0); */
}

.taste-item:hover .taste-overlay {
    transform: translatey(0);
    
}

.taste-overlay-subtitle {
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 0.5rem;
}

.taste-overlay-btn {
    display: inline-block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #fff;
    padding: 0.375rem 1rem;
    background-color:  var(--orange);
    border-radius: 2.1875rem;
    margin-right: 0.375rem;
}

.taste-overlay-bnt2 {
    display: inline-block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: var(--black);
    border: 1px solid #fd9222;
    border-radius: 2.1875rem;
    padding: 0.375rem 1rem;
    background-color: var(--white);
    margin-bottom: 0.875rem;
}

.taste-overlay-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black);
}

@media screen and (min-width: 48rem) {
    .taste {
        margin-bottom: 6.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
        /* additional padding left and right -
        so that icons in the tablet version
        do not line up 3 in a row */


    .taste-title {
        max-width: 25.75rem;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 3.125rem;
    }

    .taste-text {
        max-width: 30.375rem;
        margin-bottom: 3.125rem;
    }

    .taste-list {
        display: grid;
        grid-template-columns: 21rem 21rem;
        column-gap: 2rem;
        row-gap: 2rem;
        justify-self: center;

        /* flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem; */
    }

    .taste-item:not(:last-child) {
        margin-bottom: 0;
    }
    
}

@media screen and (min-width: 73rem) {
    .taste {
        margin-bottom: 7.5rem;
        padding-left: 0;
        padding-right: 0;
    }
    .taste-list {
        display: grid;
        grid-template-columns: 16.25rem 16.25rem 16.25rem 16.25rem;
        gap: 1.5rem 2rem;
        
    }

    .taste-item {
        min-width: 16.24rem;
        padding: 1.4375rem 1.4375rem 1.75rem 1.4375rem;
    }

    .taste-image {
        width: 13.375rem;
        height: 11.25rem;
        margin-bottom: 2.25rem;
        padding-left: 0;
    }

    .taste-overlay {
        padding: 1.25rem  1rem 1.5rem;
        min-width: 16.25rem;
        min-height: 100%;
        overflow: auto;
    }

}

/* #endregion taste--------- */

/* #region made--------- */

.made {
    margin-bottom: 5rem;
    text-align: center;
}

.made-container {
    width: 100%;
}

.made-title {
    margin-bottom: 2rem;
}

.made-img {
    margin-bottom: 1.25rem;
    min-width: 21rem;
    max-height: 31.25rem; 
}

.made-subtitle {
    text-align: left;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.33;
    color: var(--black);
    margin-bottom: 1.25rem;
    padding: 2rem 0.875rem 0;
}

.made-list {
    text-align: left;
    padding: 0 0.875rem 1.125rem;
    
}

.made-item {
    display: flex;
    align-items: baseline;

   
}

.made-item::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-image: url(../images/svg/made-list.svg);
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.made-item:not(:last-child) {
    margin-bottom: 1.125rem;
}

.made-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black);
    padding-left: 0.5rem;;
    
}

@media screen and (min-width: 48rem) {
    .made {
        margin-bottom: 6.25rem;
        text-align: center;
    }

    .made-title {
        margin-bottom: 3.125rem;
        font-size: 2rem;
    }

    .made-list {
        padding: 0 2rem 2rem;
    }

    .made-img {
        min-width: 38.375rem;
        max-height: 25rem; 
    }

    .made-subtitle {
        line-height: 1.33;
        padding-left: 2rem;
        margin-bottom: 1.75rem;
    }
}

@media screen and (min-width: 73rem) {
    .made {
        margin-bottom: 7.5rem;
    }

    .made-wrap {
        display: flex;
        gap: 1.25rem;
    }

    .made-wrap-text {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-height: 25rem;
    }

    .made-list {
        padding: 0;
    }

    .made-subtitle {
        padding: 0;
        line-height: 1.29;
    }

    .made-item:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .made-img {
        min-width: 37.5rem;
        max-height: 25rem;
    }
}

/* #endregion made--------- */

/* #region products--------- */

/* #endregion products--------- */

/* #region sellers--------- */

/* #endregion sellers--------- */

/* #region review--------- */

/* #endregion review--------- */

/* #region footer--------- */

/* #endregion footer--------- */

/* #region modal--------- */

/* #endregion modal--------- */

/* #region hero--------- */

/* #endregion hero--------- */

/* -------- */

/* Vl */

/* .my-header-btn > input {
    width: 0px;
    height: 0px;
}

input:checked + .header-menu-open-btn {
    .header-menu-open-icon {
        display: none;
    }
}

.my-header-logo {
    flex-grow: 1;
}

.my-header-desktop {
    display: flex;
}

@media screen and (max-width: 767.98px) {
    .my-header-desktop {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .my-header-mobile {
        display: none;
    }
} */
